In [ ]:
def max():
  a=int(input("a="))
  b=int(input("b="))
  c=int(input("c="))
  max=a
  if b>a:
    max=b
  elif c>max:
    max=c
  return ('the max of these three numbers',max)
max()

a=12
b=35
c=19

('the max of these three numbers', 35)

In [ ]:
def calculation(a,b):
  s=a+b
  su=a-b
  return (s,su)
calculation(40,10)

(50, 30)

In [14]:
def som(ls):
  i=0
  s=0
  for i in range(len(ls)):
    s=s+ls[i]
  return s

In [15]:
def mul(ls):
  i=0
  m=1
  for i in range(len(ls)):
    a=ls[i]
    m=m*a
  return m

In [16]:

print("\n")
ls = list(int(num) 
for num in input("Enter the list items separated by space ").strip().split())
lp=[]
li=[]
for i in range (len(ls)):
  if i%2==0:
    lp.append(ls[i])
  else:
    li.append(ls[i])
print(ls)
print(som(lp))
print(mul(li))

Enter the list items separated by space 1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
25
384

In [19]:
def input_1():
  print("\n") 
  ch=input("Enter the list items separated by hyphen ").strip("-").split("-")
  print(ch)
  return ch
def sort_01(ch):
  ch.sort()
  print(ch)
  
a=input_1()
sort_01(a)

Enter the list items separated by hyphen green-red-yellow-black-white
['green', 'red', 'yellow', 'black', 'white']
['black', 'green', 'red', 'white', 'yellow']

In [35]:
import math
C=50
H=30
def input_02():
  ch=input("Enter the list items separated by comma ").strip(",").split(",")
  print(ch)
  return ch
def calc(ch):
  for i in range (0,len(ch)):
    D=int (ch[i])
    t=(2 * C * D)
    Q=math.sqrt(t/H)
    print(round(Q))
a=input_02()
calc(a)

Enter the list items separated by comma 100,150,180
['100', '150', '180']
18
22
24